html {
    --miligram-color: #9b4dca;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.buttons-flex {
    display: flex;
    width: 350px;
    gap: 25px;
    justify-content: start;
}

.buttons-flex > * {
    flex: 0 0 150px;
}

.edit-button {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.edit-button:hover {
    background: #f0f0f0;
}

.edit-button svg {
    height: 100%;
}

.input-flex {
    display: flex;
    flex-direction: column;
}

.input-flex > input[type="date"] {
    width: 350px;
}

.input-flex > button {
    width: fit-content;
}
